<!--menu-->
<header class="p-header">
  <div>
    <div class="p-header__logo">
      <a href="{{site.url}}/">
        <p>NLL</p>
      </a>
    </div>
    <button class="menu-btn header__button nav-btn-js" type="button">
       <div class="menu-btn__burger"></div>
    </button>
    <nav class="header__nav nav-js" data-active="false" > 
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="{{site.url}}/" >Inicio</a>
        </li>
        <li class="header__menu-item">
          <a href="{{site.url}}/about" >Acerca de Mi</a>
        </li>
        <li class="header__menu-item">
          <a href="{{site.url}}/contact" >Contacto</a>
        </li>
        <li class="header__menu-item">
          <a href="{{site.url}}/portfolio" >Portafolio</a>
        </li>
      </ul>
    </nav>
  </div>
</header>